[class*="icono-"]{
  color:white;
}


@mixin e_font{
  font-family: 'Alegreya', serif;
  color:white;
}

@mixin j_font{
  font-family: 'Sawarabi Mincho', sans-serif;
  color:white;
}

h2,h3,h4{
  @include e_font;
}

li,h5{
  @include j_font;
}

$white:white;
$gray:gray;
$teal_darken-3:#00695c;
