@import "./reset";
@import "vender/icono.min.scss";
@import "config/font";
@import "mixin/mixin";
@import "modules/header";
@import "modules/contents";
@import "modules/blog_new";


body{
  min-width:100vw;
  min-height:100vh;
  @include bg-gradient;
}

footer {
  @include boxBase;
  color: white;
  bottom: 0;
  text-align: center;
  width:100vw;
  background:#00695c;
}

h4.page_title,h5.page_title{
  border-bottom:thin solid white;
  width:80vw;
  margin-left: 3vw;
}

