@mixin clearfix{
  &:after{
    content: "";
    clear: both;
    display: block;
  }
}

@mixin bg-gradient($angle: 180deg, $color: #008040, $amount: 60%) {
  background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
}

@mixin boxBase($margin: 30px auto 0, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
