%nav.teal.darken-3{class: "#00695c"}
  .nav-wrapper
    %a.brand-logo{href: ""}
      %i.material-icons>
      .icono-asterisk
      Mini-Blog
      .icono-asterisk
    %ul.right.hide-on-med-and-down
      %li
        %a{href: ""}
          %i.material-icons extension LOGIN
      %li
        %a{href: ""}
          %i.material-icons person_add 登  録
      %li
        %a{href: ""}
          %i.material-icons edit 投  稿
      %li
        %a{href: ""}
          %i.material-icons loop 更  新
  .switch
    %label
      %span.switch_left なんとか
      %input{type: "checkbox"}
      %span.lever
      %span.switch_right かんとか
