%nav.teal.darken-3{class: "#00695c"}
  .nav-wrapper
    %a.brand-logo{href: ""}
      %i.material-icons>
      .icono-asterisk
      Mini-Blog
      .icono-asterisk
    %ul.right.hide-on-med-and-down
      %li
        %a{href: ""}
          %i.material-icons ログインすっぺ
      %li
        %a{href: ""}
          %i.material-icons 登録すっぺ
      %li
        %a{href: ""}
          %i.material-icons 東京さ行ぐだ
      %li
        %a{href: ""}
          %i.material-icons 田舎さ帰るだ
.icono-smile
%h3 English あいうえお
%h4 aaaa あいうえお
%h5 日本語フォント
